{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags widget_tweaks %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
<!--First Parallax Image-->
<section class="parallax_section" id="parallax_image_first"></section>

<!--Intro Text-->
<section class="text-section">
    <h1>{{ page.intro_title }}</h1>
    <span id="intro">{{ page.intro_body | richtext }}</span>
</section>

<!--Second Parallax Image-->
<section class="parallax_section" id="parallax_image_second"></section>

<!--Expertise Section-->
<section id="expertise-section" class="text-section">
    <h1>{{ page.expertise_title }}</h1>
    <div id="small-container">
        {% for item in page.expertise_items.all %}
            <p class="small-item">
                {{ item.expertise_item }}
            </p>
        {% endfor %}
    </div>
</section>

<!--Third Parallax Image-->
<section class="parallax_section" id="parallax_image_third"></section>

<!--Contact Section-->

<section class="contact-section">
    <h1>Want to Get in Touch?</h1>
    <br>
    <a href="/contact/"><button class="styled-large-button">Contact Us</button></a>
</section>

<!--<section class="contact-section">
    <h1 id="contact">Contact Us</h1>
    <form action="/contact/" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_name">Name</label>
            <input type="text" name="name" maxlength="255" class="form-control" required id="id_name">
        </div>
        <div class="form-group">
            <label for="id_email">Email</label>
            <input type="email" name="email" class="form-control" required id="id_email">
        </div>
        <div class="form-group">
            <label for="id_message">Message</label>
            <textarea name="message" cols="40" rows="10" class="form-control" required id="id_message"></textarea>
        </div>
        <button type="submit" class="styled-button" >Submit</button>
    </form>
</section>-->

{% endblock content %}
