{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block content %}

<!--First Parallax Image-->
<section class="parallax_section" id="parallax_image_first"></section>

<!--Intro Text-->
<section class="text-section">
    <h1>{{ page.intro_title }}</h1>
    <span id="intro">{{ page.intro_body | richtext }}</span>
</section>

<!--Second Parallax Image-->
<section class="parallax_section" id="parallax_image_second"></section>

<!--Expertise Section-->
<section id="expertise-section" class="text-section">
    <h1>{{ page.expertise_title }}</h1>
    <div id="small-container">
        {% for item in page.expertise_items.all %}
            <p class="small-item">
                {{ item.expertise_item }}
            </p>
        {% endfor %}
    </div>
</section>

<!--Third Parallax Image-->
<section class="parallax_section" id="parallax_image_third"></section>

<!--Contact Section-->
<section class="contact-section">
    <h1>Want to Get in Touch?</h1>
    <br>
    <a href="{% slugurl 'contact' %}"><button class="styled-large-button">Contact Us</button></a>
</section>

{% endblock %}
