{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block content %}

<section class="service-section">
    <h1>Services</h1>
    <div class="button-container">
        {% for item in page.service_blocks.all %}
            <a href="#{{ item.html_id }}">
                <h3 class="service-button">{{ item.title }}</h3>
            </a>
        {% endfor %}
    </div>
</section>

{% for item in page.service_blocks.all %}
    <section class="text-section">
        <h2 id="{{ item.html_id }}">{{ item.title }}</h2>
        <span id="intro">
            <p>{{ item.text }}</p>
            <div class="consulting-container">
                {% for desc in item.service_descriptions.all %}
                    <p class="consulting-section">
                        {{ desc.service_description }}
                    </p>
                {% endfor %}
            </div>
        </span>
    </section>
{% endfor %}

<section class="contact-section">
    <h1>Want to Get in Touch?</h1>
    <br>
    <a href="{% slugurl 'contact' %}"><button class="styled-large-button">Contact Us</button></a>
</section>

{% endblock %}