{% extends "base.html" %}
{% load static %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
<section class="parallax_section" id="parallax_image_first"></section>

<section id="first" class="text-section">
    <h1>Frumenta Partners, LLC</h1>
    <p class="tan-block">Frumenta Partners delivers value to our clients via strategies 
        and operational improvements to address industry disruption and digital transformation
    </p>
</section>

<section class="parallax_section" id="parallax_image_second">

</section>

<section id="second" class="text-section">
    <h1>Why Frumenta Partners?</h1>
    <div class="small-container">
        <div class="small-item">
            <p>
                Deep Industry Expertise
            </p>
        </div>
        <p class="small-item">
            Relentless focus on value based on intense curiosity coupled with innovative thinking
        </p>
        <p class="small-item">
            Proven approaches and methodologies
        </p>
    </div>
</section>

<section class="parallax_section" id="parallax_image_third">

</section>

<section class="text-section">
    <h1>Recent News</h1>

</section>
<section class="text-section">
    <h1 id="contact">Contact Us</h1>
</section>




{% endblock content %}
