/* ---------- Basic CSS --------- */

.body {
    background-color: rgb(6, 38, 97);
    font-family: 'Playfair Display', serif;
}

/* ---------- Navigation Bar ---------- */

#logo {
    width: 300px;
}

.nav-bg {
    background: rgb(6, 38, 97);
}

.navbar-brand {
    background-color: white;
}

/* ---------- Parallax Images on Home Page ---------- */

.parallax_section {
    position: relative;
}

#parallax_image_first {
    background-image: url("../../../media/GY68KT.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% auto;
    height: 400px;
    overflow: hidden;
}

#parallax_image_second {
    background-image: url("../../../media/GPBGA4.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: 100% auto;
    height: 275px;
    overflow: hidden;
}

#parallax_image_third {
    background-image: url("../../../media/E5790D.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: 100% auto;
    height: 400px;
    overflow: hidden;
}

/* ---------- Text Sections on Home Page ---------- */

.text-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(6, 38, 97);
    color: white;
    height: auto;
    padding-top: 50px;
    text-align: center;
}

#intro {
    background-color: rgb(203, 177, 150);
    border-top: 10px solid white;
    color: black;
    font-size: 25px;
    margin-bottom: -10px;
    padding: 50px 100px 50px 100px;
    text-align: center;
}

#expertise-section {
    padding: 50px;
}

#small-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.small-item {
    display: flex;
    align-items: center;
    flex-basis: 31%;
    justify-content: center;
    background-color: rgb(203, 177, 150);
    border: 10px solid white;
    color: black;
    font-size: 25px;
    height: 275px;
    margin: 10px;
    padding: 20px;
    text-align: center;
    width: 50%;
}

/* ---------- Contact Form ---------- */
#thank-you {
    background-color: white;
    border: 10px solid rgb(203, 177, 150);
    font-family: 'Open Sans', sans-serif;
    padding: 10px;
    width: 100%;
}

/* ---------- Footer ---------- */

.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(6, 38, 97);
    color: white;
    height: auto;
    padding-bottom: 25px;
    padding-top: 25px;
}

.footer-item {
    margin: 10px;
    padding-left: 60px;
    padding-right: 60px;
}

/* ---------- News Posts, Buttons, and Tags ---------- */

.news {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.news-post {
    background-color: white;
    border: 10px solid rgb(203, 177, 150);
    font-family: 'Open Sans', sans-serif;
    padding: 10px;
    width: 100%;
}

.styled-button {
    background-color: rgb(6, 38, 97);
    border: 0;
    color: white;
    margin: 5px;
    padding: 10px;
}

.styled-button:hover {
    background-color: rgb(0, 32, 93);
    font-weight: bold;
}

.styled-tags {
    background-color: rgb(203, 177, 150);
    border: 0;
    margin: 5px;
    padding: 10px;
}

.styled-tags:hover {
    background-color: rgb(193, 167, 140);
    font-weight: bold;
}

.tag-results {
    background-color: rgb(203, 177, 150);
    margin-bottom: -1px;
    padding: 15px;
}

/* ---------- Media Queries ---------- */

@media only screen and (max-width: 960px) {
    .small-item {
        flex-basis: 40%;
    }
}

@media only screen and (max-width: 900px) {
    .text-section #small-container {
        flex-direction: column;
    }

    .small-item {
        height: 50%;
        width: 100%;
    }

    #parallax_image_third {
        height: 275px;
    }
}